* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    width: 100%; 
    line-height: 1.7;
    font-weight: 400;
    background-color: #ffffff;
  }
  
  header {
    background: #eee;
    color: rgb(133, 97, 97);
    padding: 1rem;
    text-align: center;
  }
  
  nav button {
    margin: 0 10px;
    padding: 10px 15px;
    border: none;
    background: #0052cc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  nav button:hover {
    background: #003d99;
  }
  
  main {
    padding: 2rem;
  }
  
  .content-section {
    display: none;
    animation: fadeIn 0.5s ease-in;
  }
  
  .content-section.active {
    display: block;
  }
  
  footer {
    text-align: center;
    background: #002244;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  /* footer styling */
  footer {
    padding: 30px 80px 20px 80px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 50px;
  }
  
  footer p {
    font-size: 12px;
    color: #9b9b9b;
  }
  
  footer .upperPartFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 100px;
  }
  
  footer .upperPartFooter .social-profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  footer .upperPartFooter img {
    max-width: 150px;
    cursor: pointer;
  }
  
  footer .upperPartFooter .social-profile .social-icon {
    display: flex;
    gap: 20px;
    font-size: 20px;
  }
  
  footer .upperPartFooter .social-profile .icon1 {
    border-bottom: 1px solid #e6e5e5;
    padding-bottom: 10px;
  }
  
  footer .upperPartFooter .social-profile .social-icon a {
    color: #666666;
  }
  
  footer .upperPartFooter .social-profile .social-icon a:hover {
    color: #387ed1;
  }
  
  footer .upperPartFooter .footer-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  footer .upperPartFooter .footer-link h3 {
    font-size: 20px;
    color: #424242;
    font-weight: 500;
  }
  
  footer .upperPartFooter .footer-link div {
    display: flex;
    flex-direction: column;
  }
  
  footer .upperPartFooter .footer-link div a {
    color: #666666;
    font-size: 16px;
    font-weight: 500;
  }
  
  footer .upperPartFooter .footer-link div a:hover,
  footer .lowerPartFooter .footer-link a:hover {
    color: #387ed1;
  }
  
  footer .lowerPartFooter {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
  }
  
  footer .lowerPartFooter a:hover {
    color: #424242;
  }
  
  footer .lowerPartFooter .footer-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
  }
  
  footer .lowerPartFooter .footer-link a {
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 500;
  }